<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<header>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/cloth/">Одежда</a></li>
        <li><a href="/jacket/">Куртка</a></li>
        <li><a href="/shoes/">Обувь</a></li>
    </ul>
</header>
<main>
    {% block content %}
    <h1>Добро пожаловать на наш сайт, здесь вы можете ознакомиться с описанием одежды и обуви.</h1>
    {% endblock %}
</main>
<footer>
    <p>© 2023-2024</p>
</footer>
</body>
</html>